<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ASS</title>

    <style>
        .body {
            background-color: whitesmoke;
        }
        
        .info {
            margin-left: 5%;
            margin-top: 20px;
        }
        
        .info>a {
            font-size: 16px;
        }
        
        .myinfo {
            margin-left: 2%;
        }
        
        .myimage {
            width: 120px;
            height: 150px;
            border-radius: 50%;
        }
        
        .bodyinfo {
            height: 550px;
        }
    </style>
</head>

<body class="body">

    <div style="width: 80%;margin: auto;margin-top: 80px;">
        <div class="row">
            <div class="col-sm-3 bodyinfo " style="background-color: white;">
                <div class="info">
                    <div>
                        <label><a href="#!myinfo">Quản Lí Thông Tin Cá Nhân</a></label>
                    </div>
                    <div>
                        <label><a href="#!account">Quản Lí Thông Tin Tài Khoản</a></label>
                    </div>
                    <div>
                        <label><a href="#!profile">Quản Lí Hồ Sơ</a></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 bodyinfo" style="margin-left: 1%;">
                <div class="row " style="height: 180px; background-color:white ;">
                    <div class="myinfo">
                        <div class="col-sm-12">
                            <h2 style="color: dodgerblue;">Đổi tên người dùng</h2>
                            <span>Sau khi cập nhật tên người dùng, tên hiển thị của bạn trên hệ thống sẽ được đổi thành tên mới</span>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span style="font-style: italic;">Tên người dùng</span>
                                    <input class="form-control"></input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6 form-group">
                                    <button style="width: 150px; border-radius: 30px;" class="btn btn-primary pull-right">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row " style="height: 350px; background-color:white ; margin-top: 3%;">
                    <div class="myinfo">
                        <div class="col-sm-12">
                            <h2 style="color: dodgerblue;">Đổi mật khẩu</h2>
                            <span>Sau khi cập nhật mật khẩu, mật khẩu của bạn trên hệ thống sẽ được đổi thành mật khẩu mới</span>
                            <div class="form form-group">
                                <label>Mật khẩu cũ</label>
                                <input class="form-control" placeholder="Mật khẩu cũ" type="password" />
                                <label>Mật khẩu mới</label>
                                <input class="form-control" placeholder="Mật khẩu mới" type="password" />
                                <label>Mật khẩu xác nhận</label>
                                <input class="form-control" placeholder="Mật khẩu xác nhận" type="password" />
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6 form-group">
                                    <button style="width: 150px; border-radius: 30px;" class="btn btn-primary pull-right">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</body>

</html>