<div class="row">
    <div class="col-md-10">
        <article>

            <div class="">
                <h1 style="font-weight: bold;">Liên hệ với chúng tôi</h1>
                <form style="margin-top: 50px;">
                    <div class="form-group">
                        <label for="ten">Họ và Tên</label>
                        <input type="text" class="form-control" id="ten" placeholder="Họ và tên">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nội dung</label>
                        <textarea id="exampleInputPassword1" class="form-control" rows="7"></textarea>
                    </div>
            </div>
            <button type="submit" class="btn btn-success" style="margin-bottom: 50px;">Submit</button>
            </form>
            <div class="">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tTEF4mMe0Mk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <br/><br/><br/>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.879133602199!2d105.75516411428211!3d10.026831675324008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a088476bb00027%3A0xd3c02747d1cbc8c6!2zMjg4IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIExpbmgsIEjGsG5nIEzhu6NpLCBOaW5oIEtp4buBdSwgQ-G6p24gVGjGoSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1585296175308!5m2!1svi!2s"
                width="100%" height="450" frameborder="0" style="border:0; margin-left:0px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </article>
    </div>
    <!-- Navigation Right -->
    <div class="col-md-2">

        <div class="panel panel-success">
            <div class="panel-heading">
                <!-- <span class="glyphicon glyphicon-hourglass"></span> -->
                <img src="images/iconfinder_books_514941.png" width="30px" height="30px" />
                <span style="font-weight: bold; color: green;">Khóa học</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Spring 2019</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Summer 2019</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Fall 2019</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Spring 2020</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Summer 2020</a>
                </ul>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Like
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">Share
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">Comment
                        <span class="sr-only">90% Complete</span>
                    </div>
                </div>
                <div class="">
                    <img src="images/album3.jpg" width="100%" />
                </div>
                <div class="">
                    <img src="images/standee.jpg" width="100%" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.navigation-right -->
</div>