    <article>
        <div class="container">
            <div class="">
                <h2 style="font-weight: bold;">Giới thiệu chung</h2>
                <img src="images/logoabout.jpg" style="margin-left: 140px;" />
                <h4 style="font-weight: bold; text-align: left;">Tầm nhìn</h4>
                <p style="margin-left: 20px;">Trở thành một hệ thống giáo dục đẳng cấp Quốc tế, khác biệt, đậm đà giá trị Việt Nam.</p>
                <h4 style="font-weight: bold; text-align: left;">Sứ mệnh</h4>
                <p style="margin-left: 20px;">Phát triển con người toàn diện và cung cấp năng lực học tập toàn cầu cho học sinh.</p>
                <h4 style="font-weight: bold; text-align: left;">Lịch sử hình thành</h4>
                <p style="margin-left: 20px;">Những năm gần đây, xu thế quốc tế hóa giáo dục đang diễn ra mạnh mẽ, nhu cầu nguồn nhân lực đáp ứng yêu cầu của tiến trình toàn cầu hóa và nền kinh tế tri thức ngày càng cao đòi hỏi sự đổi mới không chỉ ở bậc giáo dục đại học. Để có thể
                    tận dụng tốt nhất những năm học đại học, chuẩn bị vững chắc nhất cho sự nghiệp lâu dài sau này, học sinh cần được chuẩn bị đúng ngay ở các bậc học phổ thông. </p>
                <img src="images/THPT-FPT-tu-lap-truong-thanh-27.jpg" />
                <figcaption style="font-size: 10px;">Trường Trung học phổ thông FPT ra đời với mong muốn tạo nên một ngôi trường hiện đại nhưng vẫn lưu giữ được những nét truyền thống của dân tộc, giúp học sinh phát triển toàn diện cả về thể chất lẫn tinh thần.</figcaption><br/> Trong bối
                cảnh đó, Trường Trung học phổ thông FPT ra đời với mong muốn tạo ra một ngôi trường nơi học sinh được phát triển cá nhân toàn diện, xác định được đam mê và chuẩn bị những kiến thức, kỹ năng, thái độ ứng xử, nền tảng văn hóa và trên hết
                là một tinh thần tự lập vô cùng cần thiết cho giai đoạn chính thức trưởng thành, trở thành một sinh viên và công dân toàn cầu đúng nghĩa nhất.
                <h4 style="font-weight: bold;">Mô hình trường học kiểu mới</h4>
                <p style="margin-left: 20px;">Trường THPT FPT là hệ thống phổ thông chất lượng cao trực thuộc Tổ chức Giáo dục FPT, hoạt động theo mô hình nội trú, có trụ sở đặt tại Khu Công nghệ cao Hoà Lạc, Hà Nội và hai cở sở khác tại các thành phố lớn như Đà Nẵng và Cần Thơ. Theo
                    đó học sinh sẽ học tập trung tại trường từ thứ Hai tới thứ Sáu hàng tuần. Vào hai ngày cuối tuần, các em có thời gian hoàn toàn tự do dành cho gia đình. Mục tiêu của Trường THPT FPT là tạo dựng môi trường giúp học sinh phát triển cá
                    nhân toàn diện, xác định được đam mê, chuẩn bị những kiến thức, kỹ năng, thái độ ứng xử, nền tảng văn hóa và trên hết là một tinh thần tự lập vô cùng cần thiết cho giai đoạn học tập đại học và chính thức trưởng thành sau này.</p>
                <img src="images/THPT-FPT-tu-lap-truong-thanh-324.jpg" />
            </div>
        </div>
    </article>
    <!-- <aside class="asideR">
        <div class="panel panel-success">
            <div class="panel-heading">
                
                <img src="images/iconfinder_books_514941.png" width="30px" height="30px" />
                <span style="font-weight: bold; color: green;">Khóa học</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Spring 2019</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Summer 2019</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Fall 2019</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Spring 2020</a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-education"></span> Summer 2020</a>
                </ul>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Like
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">Share
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">Comment
                        <span class="sr-only">90% Complete</span>
                    </div>
                </div>
                <div class="">
                    <img src="images/album3.jpg" width="100%" />
                </div>
                <div class="">
                    <img src="images/standee.jpg" width="100%" />
                </div>
            </div>

        </div>
    </aside> -->
  