<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile</title>
    <style>
        .body {
            background-color: whitesmoke;
        }
        
        .info {
            margin-left: 5%;
            margin-top: 20px;
        }
        
        .info>a {
            font-size: 16px;
        }
        
        .myinfo {
            margin-left: 2%;
        }
        
        .myimage {
            width: 120px;
            height: 150px;
            border-radius: 50%;
        }
        
        .bodyinfo {
            height: 720px;
        }
        
        .logoimg {
            width: 180px;
            height: 180px;
        }
        
        .imglogo {
            width: 40px;
            height: 40px;
        }
    </style>
</head>

<body class="body">

    <div style="width: 80%;margin: auto;margin-top: 80px;">
        <div class="row">
            <div class="col-sm-3 bodyinfo " style="background-color: white;">
                <div class="info">
                    <div>
                        <label><a href="#!myinfo">Quản Lí Thông Tin Cá Nhân</a></label>
                    </div>
                    <div>
                        <label><a href="#!account">Quản Lí Thông Tin Tài Khoản</a></label>
                    </div>
                    <div>
                        <label><a href="#!profile">Quản Lí Hồ Sơ</a></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 bodyinfo" style="margin-left: 1%;">
                <div class="row " style="height: 350px; background-color:white ;">
                    <div class="myinfo">
                        <div class="col-sm-12">
                            <h2 style="color: dodgerblue;">HỌC TẬP</h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="list-group-item">
                                        <a href="#">
                                            <img src="images/logos/ADBS.jpg" class="logoimg">
                                            <label>Lập trình Android căn bản</label>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="list-group-item">
                                        <a href="#">
                                            <img src="images/logos/ADAV.jpg" class="logoimg">
                                            <label>Lập trình Android nâng cao</label>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row " style="height: 350px; background-color:white ; margin-top: 3%;">
                    <div class="myinfo">
                        <div class="col-sm-12">
                            <h2 style="color: dodgerblue;">CUỘC THI</h2>
                            <div style="height: 60px;" class="list-group-item row">
                                <div class="col-sm-1">
                                    <img class="imglogo" src="images/logos/JABS.png" />
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-11" style="vertical-align: middle !important;">
                                            <div class="row">
                                                <a><span>LẬP TRÌNH JAVA CĂN BẢN</span></a>
                                                <div class="progress" style="height: 10px;">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1" style="margin-top: 2%;">
                                            <div>
                                                <span>100/100Đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 60px;" class="list-group-item row">
                                <div class="col-sm-1">
                                    <img class="imglogo" src="images/logos/JAAV.png" />
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-11" style="vertical-align: middle !important;">
                                            <div class="row">
                                                <a><span>LẬP TRÌNH JAVA NÂNG CAO</span></a>
                                                <div class="progress" style="height: 10px;">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1" style="margin-top: 2%;">
                                            <div>
                                                <span>60/100Đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 60px;" class="list-group-item row">
                                <div class="col-sm-1">
                                    <img class="imglogo" src="images/logos/HTCS.jpg" />
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-11" style="vertical-align: middle !important;">
                                            <div class="row">
                                                <a><span>THIẾT KẾ WEB VỚI HTML5 VÀ CSS3</span></a>
                                                <div class="progress" style="height: 10px;">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1" style="margin-top: 2%;">
                                            <div>
                                                <span>80/100Đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>