<div class="row ">

    <!-- Navigation Left -->
    <div class="col-md-2">

        <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
            
                    <img src="images/iconfinder_26_Alphabet_2064501.png" height="40px" width="40px" />
                    <a style="text-decoration: none; font-weight: bold; color: white;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Môn học</a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="list-group">
                            <a href="#!quiz/{{sb.Id}}" class="list-group-item" ng-repeat="sb in subjects"><img src="images/logos/{{sb.Logo}}" width="20px" height="20px"> {{sb.Name}}</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="panel-group" id="KhoaHoc" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <img src="images/iconfinder_world_eco_leaves_2992451.png" width="30px" height="30px">
                    <a style="text-decoration: none; font-weight: bold; color: white;" role="button" data-toggle="collapse" data-parent="#KhoaHoc" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                        <span style="color:blue">Tin tức</span></a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="list-group">
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-circle-arrow-right"></span> Về việc tiếp tục cho học sinh, học viên nghỉ học để thực hiện các biện pháp phòng chống dịch bệnh Covid-19
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-circle-arrow-right"></span> Về việc những việc cần làm để phòng, chống dịch bệnh Covid-19 trong trường học
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="glyphicon glyphicon-circle-arrow-right"></span> Về việc góp ý việc bãi bỏ Quyết định số 02/2017/QĐ-UBND ngày 04 tháng 01 năm 2017
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <img src="images/unnamed.jpg" width="100%" height="100%" />
        </div>
        <div class="">
            <img src="images/unnamed (1).jpg" width="100%" height="100%" />
        </div>
        <div class="">
            <img src="images/OknttlO.png" width="100%" height="100%" />
        </div>
        <div class="">
            <img src="images/album3.jpg" width="100%" />
        </div>
        <!-- <div class="">
            <img src="images/standee.jpg" width="100%" />
        </div> -->
    </div>
    <!-- /.navigation-left -->
    <div class="col-md-8">
        <article>

            <div class="container">
                <div class="panel panel-default" style="margin-top: 60px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">2 phút trước</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: Đề thi trực tuyến có bảo mật không?
                    </div>
                    <div class="panel-footer">
                        Sang: Có chứ bạn. Đề thi được bảo mật và kiểm duyệt một cách an toàn ạ.
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">15 phút trước</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: Đề thi trực tuyến có đáp án chính xác ko?
                    </div>
                    <div class="panel-footer">
                        Sang: Có chứ bạn. Đề thi được các chuyên gia của bộ môn giải và đưa ra đáp án chính xác ạ.
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">45 phút trước</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: Thi trực tuyến có lợi gì?
                    </div>
                    <div class="panel-footer">
                        Sang: Thi trực tuyến mang lại rất nhiều lợi ích.
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">1 giờ trước</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: Đề thi có đa dạng không ạ?
                    </div>
                    <div class="panel-footer">
                        Sang: Đề thi được tích góp trong hàng ngàn đề thi thực tế nha bạn.
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">3 giờ trước</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: S-Adenosylmethionine (SAMe) là gì?
                    </div>
                    <div class="panel-footer">
                        Sang: S-Adenosylmethionine (SAMe) là gì? S-Adenosylmethionine (SAMe) có tác dụng gì với sức khỏe? Ứng dụng của nó trong chăm sóc …
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">5 giờ trước</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: N-Acetylcysteine là gì?
                    </div>
                    <div class="panel-footer">
                        Sang: N-Acetylcysteine là gì? Nó có tác dụng như thế nào với sức khỏe? Nó có tác dụng phụ nào không? …
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">15 giờ trước</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: 5-Hydroxitryptophan (5-HTP) là gì?
                    </div>
                    <div class="panel-footer">
                        Sang: 5-Hydroxytryptophan (5-HTP) là gì? Nó có tác dụng gì với sức khỏe vậy mọi người? Bổ sung thế nào cho …
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">Hôm qua lúc 20:21</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: Hydroxyproline là gì?
                    </div>
                    <div class="panel-footer">
                        Sang: Hydroxyproline là gì? Tác dụng, công dụng của Hydroxyproline trong đời sống và sức khỏe là gì? Có cần bổ …
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div>
                <!-- <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <img class="img-circle" style="width: 40px; height: 40px" src="images/pc00139.jpg" />
                        <a href="#" style="font-weight: 600; font-size: 16px; margin-left: 20px">Huỳnh Nhật Thanh</a>
                        <br/>
                        <span style="margin-left: 65px">1 tháng 3</span>
                    </div>
                    <div class="panel-body">
                        Câu hỏi: Creatine là gì?
                    </div>
                    <div class="panel-footer">
                        Sang: Creatine là gì? Nó có tác dụng gì? Sử dụng nó có an toàn không? Liều dùng là bao nhiều …
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Trả lời câu hỏi này giúp bạn Huỳnh Nhật Thanh" />
                    </div>
                </div> -->

        </article>
        </div>
    </div>